<?xml version="1.0" encoding="utf-8" ?>

<nlog throwExceptions="false" internalLogLevel="Trace" internalLogFile="log.txt" internalLogToConsole="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" />  
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="File" />    
    <!-- Trace|Debug|Info|Warn|Error|Fatal -->
  </rules>
</nlog>